# Prisma OpenSSL fix for Ubuntu
PRISMA_CLIENT_ENGINE_TYPE=library

# Application Name
APP_NAME=micro-keycloak-api
NODE_ENV=development

## PORT

GATEWAY_SERVICE_HOST=localhost
GATEWAY_SERVICE_HTTP_PORT=4000
GATEWAY_SERVICE_HTTPS_PORT=4001

BUSINESS_SERVICE_HOST=localhost
BUSINESS_SERVICE_TCP_PORT=5020
BUSINESS_SERVICE_HTTP_PORT=6020

CLUSTER_SERVICE_HOST=localhost
CLUSTER_SERVICE_TCP_PORT=5014
CLUSTER_SERVICE_HTTP_PORT=6014

FILE_SERVICE_HOST=localhost
FILE_SERVICE_TCP_PORT=5007
FILE_SERVICE_HTTP_PORT=6007

KEYCLOAK_API_SERVICE_HOST=localhost
KEYCLOAK_API_SERVICE_TCP_PORT=5013
KEYCLOAK_API_SERVICE_HTTP_PORT=6013

NOTIFICATION_SERVICE_HOST=localhost
NOTIFICATION_SERVICE_TCP_PORT=5006
NOTIFICATION_SERVICE_HTTP_PORT=6006

REPORT_SERVICE_HOST=localhost
REPORT_SERVICE_TCP_PORT=5015
REPORT_SERVICE_HTTP_PORT=6015

REPORT_RENDER_HOST=localhost
REPORT_RENDER_TCP_PORT=8001

# Keycloak config
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=your-realm
KEYCLOAK_CLIENT_ID=account
KEYCLOAK_CLIENT_SECRET=your-client-secret
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=your-admin-client-secret
KEYCLOAK_ADMIN_CLI=admin-cli
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=your-admin-password

LOG_LEVEL=info
